footer.footer
  .container
    .footer-top
      .footer-brand
        h4 NTA Shop
        p The demo store was built using NodeJS, Express, and Pug

      .footer-contact
        p Email: ntashop@gmail.com
        p Hotline: 0123 456 789

    .footer-bottom
      p © 2026 NTA Shop. All rights reserved.