header.header
    .container
        .row.align-items-center
            .col-md-4
                .inner-logo
                    a(href="/")
                        img(src="/images/nta_shop_logo.svg" alt="NTA Shop")
            .col-md-8
                nav.inner-menu
                    ul.menu-list
                        li.menu-item
                            a(href="/") Trang chủ
                        li.menu-item
                            a(href="/products") Sản phẩm