header.header
    .container
        .header-shell
            .inner-logo
                a(href="/")
                    img(src="/client/images/nta_shop_logo.svg" alt="NTA Shop")
            nav.inner-menu
                ul.menu-list
                    li.menu-item
                        a(href="/") Home
                    li.menu-item
                        a.active(href="/products") Product
