header.admin-header
    .header-copy
        h2.mb-1 #{PageTitle}
        p.mb-0 Cập nhật mới nhất: hôm nay
    .header-actions
        input.form-control.form-control-sm(type='search' placeholder='Tìm kiếm nhanh...')
        .avatar Qu