aside.admin-sidebar
    button.admin-sidebar__close(type="button" data-admin-sidebar-close aria-label="Đóng menu") ×
    .sidebar-brand
        .brand-logo NTA
        .brand-copy
            strong NTA Admin
            span Quản trị hệ thống

    nav.sidebar-nav
        a.nav-item.active(href=`${PrefixAdmin}/dashboard`)
            span Tổng quan
        a.nav-item(href=`${PrefixAdmin}/product`)
            span Sản phẩm
        a.nav-item(href="#")
            span Đơn hàng
        a.nav-item(href="#")
            span Khách hàng

    .sidebar-help
        p.mb-2 Cần hỗ trợ nhanh?
        button.btn.btn-light.btn-sm.w-100 Liên hệ kỹ thuật
